<h1>Series</h1>
@if (vm().isLoading) {
<p>Loading...</p>
} @else {
<div class="series-card__wrapper">
  @for (item of vm().series; track item.id; ) {

  <nz-card nzHoverable [nzCover]="coverTemplate">
    <nz-card-meta [nzTitle]="item.name" />
  </nz-card>

  <ng-template #coverTemplate>
    <img
      loading="lazy"
      width="210"
      height="295"
      [alt]="item.name"
      [ngSrc]="item.image.medium"
    />
  </ng-template>

  } @empty {
  <nz-empty></nz-empty>
  }

  <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</div>
}
