:host {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .series-card__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }

  ::ng-deep {
    [nz-typography] {
      text-align: right;
    }
  }
}
