:host {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .series-card__poster-not-found {
    width: 210px;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .series-card__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 2rem;
  }

  ::ng-deep {
    [nz-card] {
      width: 210px;
      flex: 0 0 auto;
    }

    [nz-typography] {
      text-align: right;
    }
  }
}
