:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  min-height: 175px;
  justify-content: center;

  h1 {
    text-align: center;
  }

  button {
    min-width: 80px;
    margin: 0;
  }

  ::ng-deep {
    .ant-form-item:first-child .ant-form-item-control-input {
      width: 350px;
    }
  }
}
