.layout {
  min-height: 100vh;
}

.logo {
  color: white;
  font-size: 1rem;
}

nz-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

.content {
  display: flex;
}

nz-footer {
  text-align: center;
}
